#cajaFormulario{
	margin: auto;
	margin-top: 100px;
	text-align: center;
	width: 400px;
}

label{
	text-align: left;
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin: 0 4px 0 0;
	padding: 7px 7px;
	width: 250px;
}

input{
	background-color: #f3f3f3;
	border: 1px solid #cccccc;
	height: 20px;
	padding: 7px;
}

input[type="button"]{
	height: 35px;
}

input[type="number"]{
	width: 50px;
}

#cajaConfiguracion {
width: 360px;  /* Ancho de la ventana */
height: 90px;  /* Alto de la ventana */
background: #ceffad;  /* Color de fondo */
position: fixed;
top: 200px;
left: 50%;
margin-left: -180px;
border: 1px solid #adffad;  /* Borde de la ventana */
box-shadow: 0 5px 25px rgba(0,0,0,.1);  /* Sombra */
z-index:999;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
-ms-transition: .3s;
display: none;
}

#cajaConfiguracion #contenedor {
padding: 25px 10px 10px 10px;
}
#cajaConfiguracion .cerrar {
float: right;
border-bottom: 1px solid #bbb;
border-left: 1px solid #bbb;
color: #999;
background: white;
line-height: 17px;
text-decoration: none;
padding: 0px 14px;
font-family: Arial;
border-radius: 0 0 0 5px;
box-shadow: -1px 1px white;
font-size: 18px;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
-ms-transition: .3s;
}
#cajaConfiguracion .cerrar:hover {
background: #ff6868;
color: white;
text-decoration: none;
text-shadow: -1px -1px red;
border-bottom: 1px solid red;
border-left: 1px solid red;
}
#cajaConfiguracion #contenedor .contenido {
padding: 15px;
box-shadow: inset 1px 1px white;
background: #deffc4;  /* Fondo del mensaje */
border: 1px solid #9eff9e;  /* Borde del mensaje */
font-size: 20px;  /* Tamaño del texto del mensaje */
color: #555;  /* Color del texto del mensaje */
text-shadow: 1px 1px white;
margin: 0 auto;
border-radius: 4px;
}
.oculto {
/*-webkit-transition:1s;-moz-transition:1s;-o-transition:1s;-ms-transition:1s;opacity:0;-ms-opacity:0;-moz-opacity:0;visibility:hidden;*/
display: none;
}
</style>

