#cajaFormulario{
	margin: auto;
	text-align: center;
	width: 500px;
}

p{
	background: none repeat scroll 0 0 #f3f3f3;
	height: 34px;
}

label{
	text-align: left;
	
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px 0 0;
	padding: 7px 7px;
	width: 200px;
}

input{
	background-color: #f3f3f3;
	border: 1px solid #cccccc;
	height: 16px;
	padding: 7px;
}

label[name="idLista"]{
	display: block;
}

